@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans text-gray-700;
  }
}

@theme {
  --spacing: 4px;
}

:host, :root {
  --main: #374151;        /* gray-700 */
  --sub: #6b7280;         /* gray-500 */

  --accent: #0369a1;      /* sky-700 */
  --background: #f0f9ff;  /* sky-50 */

  --pond: #ffffff;        /* white */
  --pond-sub: #F9FAFB;    /* gray-50 */

  --spacing: 4px;
}

/* スケルトンスクリーンのアニメーション */
@keyframes skeleton {
  0% { opacity: 0.6; }
  50% { opacity: 1; }
  100% { opacity: 0.6; }
}
